@page
@model BookListRazor.Pages.Category.EditModel

<br />
<h2 class="text-info"> Edit Category</h2>
<br />
<div class="border container" style="padding:30px;">
    <form id="IdEditCategory" method="post">
        <div class=" form-group row">
            <div class=" col-3">    
                <label for="id">Id</label>
            </div>
            <div class=" col-6">
                <input type="text" readonly id="idtxt" required class="form-control">
            </div>
        </div>
        <div class=" form-group row">
            <div class=" col-3">
                <label for="Name">Name</label>
            </div>
            <div class=" col-6">
                <input type="text" id="idName" required placeholder="Enter Category Name" class="form-control">
            </div>
        </div>
        <div class=" form-group row">
            <div class="col-3">
                <label for="Description">Description</label>
            </div>
            <div class=" col-6">
                <input type="text" id="idDescription" required placeholder="Enter Description" class="form-control">
            </div>
        </div>
        <div class=" form-group row">
            <div class="col-3">
                <label for="ParentCategoryId">ParentCategoryId</label>
            </div>
            <div class=" col-6">
                <input type="text" id="idParentCategoryId" required placeholder="Enter ParentCategoryId" class="form-control" />
            </div>
        </div>
        <div class=" form-group row">
            <div class=" col-3 offset-3">
                <input type="submit" id="btnedit" value="Update" class="btn btn-primary form-control">
            </div>
            <div class=" col-3">
                <a asp-page="List" class="btn btn-success form-control">Back To List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var param = new URL(document.URL).searchParams;
            var Id = param.get("id");

            if (Id) {
                $("#idtxt").val(Id);
            }
            $.ajax({
                url: "https://localhost:5001/api/Category/GetById?Id=" + Id,
                type: "GET",
                dataType: "json",
                dataSrc: "response",
                success: function (response) {
                    console.log(response);
                    if (response.isError == false) {

                        $("#idName").val(response.result.name);
                        $("#idDescription").val(response.result.description);
                        $("#idParentCategoryId").val(response.result.parentCategoryId);
                    }
                },
                error: function (error) {
                    console.log(`Error ${error}`);
                }
            });



            $("#IdEditCategory").submit(function (event) {
                event.preventDefault();

                var dataEdit = {
                    id: parseInt($("#idtxt").val()),
                    name: $("#idName").val(),
                    description: $("#idDescription").val(),
                    parentCategoryId: parseInt($("#idParentCategoryId").val())
                };

                $.ajax({
                    url: "https://localhost:5001/api/Category/Edit",
                    type: "PUT",
                    datatype: "json",
                    data: JSON.stringify(dataEdit),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        console.log("update",response);
                        if (!response.isError) {
                            if (response.result > 0) {
                                toastr.success("Update Successfully!");
                            }
                        }
                        else {
                            toastr.error(response.message);
                        }
                    },
                    error: function (res, err) {
                        console.log(res.responseText);
                        console.log(err);
                    }
                });
                
            });
        });
    </script>
}