@page
@model BookListRazor.Pages.Product.EditModel

<br />
<h2 class="text-info">Edit Product</h2>
<br />
<div class="border container" style="padding:30px;">
    <form id="IdEditProduct" method="post">
        <div class=" form-group row">
            <div class=" col-3">
                <label for="id">Id</label>
            </div>
            <div class=" col-6">
                <input type="text" readonly id="idtxt" class="form-control">
            </div>
        </div>
        <div class=" form-group row">
            <div class=" col-3">
                <label for="Name">Name</label>
            </div>
            <div class=" col-6">
                <input type="text" id="idName" placeholder="Enter Product Name" class="form-control">
            </div>
        </div>
        <div class=" form-group row">
            <div class="col-3">
                <label for="Price">Price</label>
            </div>
            <div class=" col-6">
                <input type="text" id="idPrice" placeholder="Enter Product Price" class="form-control">
            </div>
        </div>
        <div class=" form-group row">
            <div class="col-3">
                <label for="Description">Description</label>
            </div>
            <div class=" col-6">
                <input type="text" id="idDescription" placeholder="Enter Product Description" class="form-control" />
            </div>
        </div>
        @*<div class=" form-group row">
            <div class="col-3">
                <label for="IsInStock">IsInStock</label>
            </div>
            <div class=" col-6">
                <select id="idIsInStock">
                    <option value="Select">Select Option</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>*@
        <div class=" form-group row">
            <div class="col-3">
                <label for="StockQuantity">StockQuantity</label>
            </div>
            <div class=" col-6">
                <input type="text" id="idStockQuantity" placeholder="Enter Product StockQuantity" class="form-control" />
            </div>
        </div>

        <div class=" form-group row">
            <div class="col-3">
                <label for="CategoryId">CategoryId</label>
            </div>
            <div class=" col-6">
                <input type="text" id="idCategoryId" placeholder="Enter CategoryId" class="form-control" />
            </div>
        </div>

        <div class=" form-group row">
            <div class=" col-3 offset-3">
                <input type="submit" id="btnedit" value="Update" class="btn btn-primary form-control">
            </div>
            <div class=" col-3">
                <a asp-page="ProductList" class="btn btn-success form-control">Back To List</a>
            </div>
        </div>
    </form>
</div>



@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var param = new URL(document.URL).searchParams;
            var Id = param.get("id");

            if (Id) {
                $("#idtxt").val(Id);
            }
            $.ajax({
                url: "https://localhost:5001/api/Product/GetById?Id=" + Id,
                type: "GET",
                dataType: "json",
                dataSrc: "response",
                success: function (response) {
                    console.log(response);
                    if (response.isError == false) {

                        $("#idName").val(response.result.name);
                        $("#idPrice").val(response.result.price);
                        $("#idDescription").val(response.result.description);
                        $("#idStockQuantity").val(response.result.stockQuantity);
                        $("#idCategoryId").val(response.result.categoryId);
                    }
                },
                error: function (error) {
                    console.log(`Error ${error}`);
                }
            });

            $("#IdEditProduct").submit(function (event) {
                event.preventDefault();

                var ProdataEdit = {
                    id: parseInt($("#idtxt").val()),
                    name: $("#idName").val(),
                    price: parseFloat($("#idPrice").val()),
                    description: $("#idDescription").val(),
                    stockQuantity: parseInt($("#idStockQuantity").val()),
                    categoryId: parseInt($("#idCategoryId").val())
                };

                $.ajax({
                    url: "https://localhost:5001/api/Product/Edit",
                    type: "PUT",
                    datatype: "json",
                    data: JSON.stringify(ProdataEdit),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        console.log("update", response);
                        if (!response.isError) {
                            if (response.result > 0) {
                                toastr.success("Update Successfully!");
                                window.location.replace("https://localhost:44381/Product/ProductList");
                            }
                        }
                        else {
                            toastr.error(response.message);
                        }
                    },
                    error: function (res, err) {
                        console.log(res.responseText);
                        console.log(err);
                    }
                });

            });
        });
    </script>
}